/* 
	Sharrie Chen @ sharriechen.com
	
	----------------------------------------------------------
	HTML 5 Reset Code
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/


/* default
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

body, select, input, textarea {color: #333;}


/* images
-------------------------------------------------------------------------------*/
img,
object,
embed {max-width: 59.375em; height: auto;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bolder;}

td, td img {vertical-align: top;} 

/* make sure sup and sub don't screw with line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* clear floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  


/* fun stuff
-------------------------------------------------------------------------------*/
body {
	background: url('/images/wallpaper-2466699.jpg');
   	position: relative;
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.wrapper{max-width: 34.375em; margin: 0 auto;}

#teatime {
  	max-width: 100%;	
    margin: 0 0 0.205em 0;
	font-family: 'Arimo', sans-serif;
  	font-size: 3.500em;
  	font-weight: 300;
	color: #fff;
	text-align: center;
	padding: 0.205em;
	border: 0.120em solid #fff;
}

section {
	max-width: 100%; 
	margin: 0 auto;
	padding: 0.625em; 
	text-align: justify; 
	line-height: 1.5;
}

section p {display: inline; color: #fff; font-family: 'Lora', serif;}

section p:first-child {font-family: 'Lora', serif; letter-spacing: 0.125em; font-variant: small; font-style: italic;}

section p a {color: #fff; text-decoration: none; border-bottom: 1px dotted #fff;}
section p a:hover {color: #eee; font-style: normal;}

nav {max-width: 100%; margin: 0 auto;}

nav ul li {
	width: 95%; 
	margin: 0.625em 0 0.625em 0;
	display: block; 
	padding: 0.625em; 
	background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease; 
    -webkit-transition: background-color 0.5s ease; 
    -o-transition: background-color 0.5s ease; 
}
		
nav ul li:hover {background-color: rgba(0, 0, 0, 0.41);}

nav ul li a {
	color: #fff;
	font-family: lato, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
	
nav ul li a:hover {color: #fff; font-style: normal;}

footer { 
	max-width: 8%; 
	font-size: 0.750em;
	font-family: 'Lato', sans-serif;
	margin: 0 auto; 
	text-align:center; 
	color: #fff; 
	padding: 0.625em;
}

/* media queries
-------------------------------------------------------------------------------*/

@media only screen and (max-width: 47.938em) {
	#teatime {margin: 0.175em;}

	body {
		background: url('/images/green_cup.png');
		background-repeat: repeat;
		-webkit-background-size: 50%;
		   -moz-background-size: 50%;
		     -o-background-size: 50%;
		        background-size: 50%;
		position: relative;
		background-position: center;
	}
}