/* 
	Sharrie Chen @ sharriechen.com
	
	----------------------------------------------------------
	HTML 5 Reset Code
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* default
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* images
-------------------------------------------------------------------------------*/
img,
object,
embed {max-width: 590px; height: auto;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none; 	
	margin: 10px;
	padding: 20px;
	background-color: #fff;
	display: inline-block;
	border-left: 5px solid #ffbc9b;
	}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* make sure sup and sub don't screw with line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* clear floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* font faces
-------------------------------------------------------------------------------*/


/* fun stuff
-------------------------------------------------------------------------------*/

body {

	background: url('/images/head.jpg');
	background-repeat: repeat-x;
	font-family: Lato, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	}

.wrapper{
	max-width: 950px;
	margin: 0 auto;
	}

.main {
	width: 100%;
	max-width: 590px;
	margin: 0 auto;
	padding: 0px;
	text-align: justify;
	float: left;
	padding-right: 20px;
	border-right: 1px solid #eee;
	}

.mov_post {
	padding: 0px 7px 0px 7px;
}

.sidebar {
	width 100%;
	max-width: 290px; 
	background-color: #fff;
	padding: 20px;
	margin-top: -20px;
	float: right;
	text-align: left;
	text-align: justify;
}

.profilepic {
	margin: 0 auto;
	border-radius: 50%;
	width: 160px;
	height: 160px; 
	background: url('http://i.imgur.com/5D0RQNU.png') center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 5px;
}

.archive {
	margin-left: 10px;
}
	
.projectBox {
	background: #ffffff;
	height: auto;
	-webkit-box-shadow: #eee 1px 1px 1px;
	-moz-box-shadow: #eee 1px 1px 1px;
	box-shadow: #eee 1px 1px 1px;	
	border: #fff 5px solid;
	padding: 5px 25px 5px 25px;
	line-height: 2em;
	text-align: justify;
	color: #333;
}

.projectBox h1 {
	text-align: center;
	border-bottom: 1px solid #eee;
}

.photoFooter {
	margin: 0 auto;
	max-width: 100%;
	background: #ffffff;
	height: auto;
	-webkit-box-shadow: #eee 1px 1px 1px;
	-moz-box-shadow: #eee 1px 1px 1px;
	box-shadow: #eee 1px 1px 1px;	
	border: #fff 5px solid;
	padding: 5px 25px 5px 25px;
	line-height: 2em;
	text-align: center;
	color: #333;
	margin-left: -4px;
	margin-top: -20px;
}

.designBox{
	max-width:125px;
	width: 100%;
	height: 125px;
	-webkit-box-shadow: #eee 1px 1px 1px;
	-moz-box-shadow: #eee 1px 1px 1px;
	box-shadow: #eee 1px 1px 1px;	
	border: #fff 5px solid;
	display: inline-block;
	margin: 5px 5px 20px 5px ;
}

#teatime {
  	width: 100%;	
  	margin: 0 auto;
    float: left;
    margin: 70px 0 40px 0;
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
  	font-size: 62px;
  	letter-spacing: 0.2em;
	color: #AC462B;
	text-align: center;
	text-transform: none;
	font-style: none;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease; 
    -webkit-transition: color 0.5s ease; 
    -o-transition: color 0.5s ease; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 
	0 0.0425em 0 #fff,
	0 0.052em 0 #eee;
	}

#teatime:hover{
	color: #E17C36;
	}

p {
	margin: 10px 0 10px 0;
}	

article h1 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #AC462B;
	text-transform: uppercase;
	margin: 10px 0 2px 0;
	}
	
article	h1 strong {display: block; font-size: 24px;}
	
article	h1 a {text-decoration: none; color: #E17C36; border-bottom: 1px dotted #8ABEA3;}
article	h1 a:hover {text-decoration: none; color: #AC462B;}

h3 {
	font-family: 'Lora', Georgia, serif;
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	line-height: 15px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

b, strong{
	color: #8ABEA3 ;
	font-weight: bolder;
}

body, select, input, textarea {color: #333;}

nav {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	z-index: 1000;
	border-bottom: 1px solid #eee;
	}

nav ul li {
	display: inline-block; 
	padding-right: 30px;
	color: #E17C36; 
	}

nav ul li:first-child {
	
	}
		
nav ul li a {
	text-transform: uppercase;
	font-family: lato;
	font-size: 13px; 
	letter-spacing: 0px;
	padding: 5px;
	font-style: none;
	color: #E17C36; 
	white-space: nowrap;
	transition: color .4s ease;
	-moz-transition: color .4s ease; 
	-webkit-transition: color .4s ease; 
	-o-transition: color .4s ease;
	}
	
nav ul li a:hover {
	color: #AC462B;
	}

a {
	color: #E17C36;
	border: none;
	text-decoration: none;
	transition: color .4s ease;
	-moz-transition: color .4s ease; 
	-webkit-transition: color .4s ease; 
	-o-transition: color .4s ease;
	}

a:hover {
	color: #8ABEA3;
}

a.links {
	padding:5px;
	border: 1px solid #eee;
	border-radius: 4px;
	display: block;
	clear:both;
	color: #AC462B;
	font-family: lato, sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	margin: 10px 0 10px 0;
	width: 50%;
}

a.links:hover {
	color: #E17C36;
}

.minor {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 0px 3px 0px 3px;
	margin: 0px;
	display: inline-block;
	}

code {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
	max-width: 100%;
	color: #333;
	font-weight: normal;
	-webkit-border-radius: 0px 8px 0px 8px;
	-moz-border-radius: 0px 8px 0px 8px;
	border-radius: 0px 8px 0px 8px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;    
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ffbc9b;
	background-color: #fff;
	padding: 10px 20px 10px 20px;
/*	margin-left: 15px;
	margin-bottom: 15px;
	margin-bottom: 8px;*/
	display: inline-block;
	text-align: left; !important
	}

code b{
	font-weight: bold;
	color: #de0025;
	}
/*
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}
            */
.pagination {
	margin: 20px 0 0 0;
	padding: 12px;
	max-width: 40%;
	text-transform: uppercase;	
	background-color: #fff;
	}

.pagination a{
	padding: 5px;
	letter-spacing: 0.2em;
	color: #555;
}

.pagination a:hover {
	color: #777;
}

#disqus_thread{
	margin-top: 12px;
	}

/* print styles
-------------------------------------------------------------------------------*/
@media print {

	}

/* media queries
-------------------------------------------------------------------------------*/
@media all and (max-width: 960px) {
	.wrapper{
		max-width: 90%;
		margin: 0 auto;
		margin-top: 25px;
	}

	.sidebar {
		padding: 0 20px 0 20px;
		float: left;
		max-width: 100%;
		margin-top: 20px;
	}

	.main {
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 0 20px 0 0;
		text-align: left;
		float: left;
		border-right: none;
	}
	
	.main img {
		max-width: 100%;
		height: auto;
	}
	
	nav {
		margin: 0 auto;
		margin-bottom: 10px;
		z-index: 1000;
		border-bottom: 1px solid #eee;
		padding: 0 20px 0 20px;
	}

	#teatime {
	  	width: 100%;	
	  	margin: 0 auto;
	    float: left;
	    margin: 10px 0 10px 0;
	    background-color: #fff;
		font-family: 'Josefin Slab', serif;
		font-weight: 400;
	  	font-size: 38px;
	  	letter-spacing: 0.2em;
		color: #AC462B;
		text-align: center;
	}

}
@media only screen and (max-width : 500px) {
	nav {
		margin: 0 auto;
		margin-bottom: 0px;
		z-index: 1000;
		border-bottom: 1px solid #eee;
		padding: 0 20px 0 20px;
	}
	nav ul li {
		display: block; 
		padding-right: 0;
		color: #E17C36; 
	}
}

/* < 799 */
@media only screen and (max-width: 1080px) {

}