/* 
	Sharrie Chen @ sharriechen.github.com
	
	----------------------------------------------------------
	HTML 5 Reset Code
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* default
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* images
-------------------------------------------------------------------------------*/
img,
object,
embed {max-width: 720px; height: auto;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none; 	
	margin: 10px;
	padding: 20px;
	background-color: #fff;
	display: inline-block;
	border-left: 5px solid #ffbc9b;
	}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* make sure sup and sub don't screw with line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* clear floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* font faces
-------------------------------------------------------------------------------*/


/* fun stuff
-------------------------------------------------------------------------------*/

body {
	background: #fff url('../images/bg2.png') repeat;	
	font-family: 'Lato', Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
	}

.wrapper{
	
	max-width: 940px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #fff;
	border: 13px solid #F3F4E5;
	}

.main {
	width: 80%;	
	max-width: 620px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 75px;
	padding: 10px 30px 30px 30px;
	background-color: none;
	}

.infomain {
	width: 80%;	
	max-width: 620px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 75px;
	padding: 40px;
	background-color: #ffffff;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;		
	}

.projectmain {
	width: 80%;	
	max-width: 620px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 5px;
	padding-left: 10px;
	background-color: #ffffff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;		
	}	

p {
	margin: 10px 0 10px 0;
	}
	
.home {
	background: #fff url('../images/home.png') no-repeat center top;
	display: block;
	float: right;
	margin-right: 20px;
	width: 75px;
	height: 75px;
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;		
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

	
#time {
	text-transform: uppercase;
	}
	
#teatime {
  	width: 100%;	
  	margin: 0 auto;
	margin-top: 75px;
	max-width: 460px;
	z-index: 100;
	font-family: 'BenchNine', Arial, sans-serif;
	text-transform: uppercase;
  	font-size: 98px;
	color: #192f45;
	text-align: center;
	cursor: default;
	transition: color 1s ease;
	-moz-transition: color 1s ease; 
	-webkit-transition: color 1s ease; 
	-o-transition: color 1s ease; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 0.05em 0.04em 0em #fff;
	}

#teatime:hover{
	color: #24586E;
	}
	
article h1 {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	margin: 10px 0 2px 0;
	}
	
article	h1 strong {display: block; font-size: 24px;}
	
article	h1 a {text-decoration: none; color: #000;}
article	h1 a:hover {text-decoration: none; color: #ffbc9b;}

article h2 {
	font-family: 'Lora', Georgia, serif;
	font-size: 15px;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	line-height: 9px;
	margin: 0 0 15px 0;
	}

body, select, input, textarea {color: #333;}

nav {
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	z-index: 1000;
	}

.info {
	background: #fff url('../images/info.jpg') no-repeat center top;
	display: block;
	float: left;
	margin: 5px;
	width: 140px;
	height: 130px;
		line-height: 200px;
	-webkit-border-radius: 0px 35px 0px 35px;
	-moz-border-radius: 0px 35px 0px 35px;
	border-radius: 0px 35px 0px 35px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;	
	}
	
.github {
	background: #fff url('../images/projects.jpg') no-repeat center top;
	display: block;
	float: left;
	margin: 5px;
	width: 140px;
	height: 130px;
	-webkit-border-radius: 0px 35px 0px 35px;
	-moz-border-radius: 0px 35px 0px 35px;
	border-radius: 0px 35px 0px 35px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;	
	}
	
.flickr {
	background: #fff url('../images/photo.jpg') no-repeat center top;
	display: block;
	float: left;
	margin: 5px;
	width: 140px;
	height: 130px;
	-webkit-border-radius: 0px 35px 0px 35px;
	-moz-border-radius: 0px 35px 0px 35px;
	border-radius: 0px 35px 0px 35px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;		
	}	

nav ol li {
	display: inline-block; 
	padding-right: 30px;
	}

nav ol li:last-child {
	padding-right: 0;
	}
		
nav ol li a {
	text-decoration: none; 
	font-family: 'Lora', Georgia, serif;
	font-size: 20px; 
	letter-spacing: 0px;
	padding: 5px;
	font-style: italic;
	color: #C8C8A9; 
	white-space: nowrap;
	transition: color .4s ease;
	-moz-transition: color .4s ease; 
	-webkit-transition: color .4s ease; 
	-o-transition: color .4s ease;
	}
	
nav ol li a:hover {
	color: #525252;
	}

a {
	color: #3d6d76;
	border: none;
	text-decoration: none;
	transition: color .4s ease;
	-moz-transition: color .4s ease; 
	-webkit-transition: color .4s ease; 
	-o-transition: color .4s ease;
	}

a:hover {
	color: #2a465b;
	}

.minor {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 0px 3px 0px 3px;
	margin: 0px;
	display: inline-block;
	}

code {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
	width: 625px;
	color: #333;
	font-weight: normal;
	-webkit-border-radius: 0px 8px 0px 8px;
	-moz-border-radius: 0px 8px 0px 8px;
	border-radius: 0px 8px 0px 8px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;    
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ffbc9b;
	background-color: #fff;
	padding: 20px;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-bottom: 8px;
	display: inline-block;
	}

code b{
	font-weight: bold;
	color: #de0025;
	}

::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

.tooltip{
	display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   font-size: 14px;
   font-family: 'Lora', Georgia, serif;
   font-style: italic;
   text-align: center;
   line-height: 0px;
   color: #fff;
 	padding: 13px;
 	white-space: nowrap;
	background: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0px 6px 6px 6px;
	-moz-border-radius: 0px 6px 6px 6px;
	border-radius: 0px 6px 6px 6px;
}
            
.pagination {
	margin: 20px 0 0 0;
	padding: 5px;
	max-width: 500px;
	text-transform: uppercase;
	background-color: #fff;
/*	-webkit-border-radius: 0px 35px 0px 35px;
	-moz-border-radius: 0px 35px 0px 35px;
	border-radius: 0px 35px 0px 35px;
	-webkit-box-shadow: #F0E6ED 1px 1px 1px;
	-moz-box-shadow: #F0E6ED 1px 1px 1px;
	box-shadow: #F0E6ED 1px 1px 1px;	
	*/
	}

#disqus_thread{
	margin-top: 12px;
	}

/* print styles
-------------------------------------------------------------------------------*/
@media print {

	}

/* media queries
-------------------------------------------------------------------------------*/

@media screen and (max-device-width: 480px) {
			
	}

@media all and (orientation: portrait) {
	
	}

@media all and (orientation: landscape) {
	
	}


