---
layout: default
title: blog
permalink: blog/
---

	<aside>
	<a class="home" href="http://sharriechen.github.com">&#8962;</a>
	</aside>

<article class="blog">
	
	<header>
		<h1><a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></h1>
		<time datetime="{{ site.posts[0].date | date: '%Y-%m-%d' }}" pubdate>{{ site.posts[0].date | date: "%b %e, %Y" }}</time>
	</header>

  {{ site.posts[0].content }}	
	
	<center>
	<aside class="pagination">
	
	{% if paginator.previous_page %}
    		<a href="/page{{paginator.previous_page}}" class="older">Older</a  
   {% else %}
   		<span class="older">older</span>
	{% endif %}
  			<span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  	{% if paginator.next_page %}
    		<a href="/page{{paginator.next_page}}" class="newer">Newer</a>
	{% else %}
   		<span class="newer">newer</span>
	{% endif %}
  
	</aside>
	</center>
	</article>