---
layout: default
title: blog
permalink: blog/
---

	<aside>
	<a class="home" href="http://sharriechen.github.com">&#8962;</a>
	</aside>

<article class="blog">
	
	<header>
	{% for post in site.posts limit:5 %}
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{{ post.date | date: "%b %d, %Y" }}
		{{ post.content }}
	{% endfor %}
	</header>
	
	<center>
	<aside class="pagination">
	
	{% if paginator.previous_page %}
    		<a href="/page{{paginator.previous_page}}" class="older">Older</a  
   {% else %}
   		<span class="older">older</span>
	{% endif %}
  			<span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  	{% if paginator.next_page %}
    		<a href="/page{{paginator.next_page}}" class="newer">Newer</a>
	{% else %}
   		<span class="newer">newer</span>
	{% endif %}
  
	</aside>
	</center>
	</article>