<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

	<head id="www.sharrie.co/" data-template-set="html5-reset">

		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>sharrie chen</title>

		<meta name="title" content="sharrie chen">
		<meta name="description" content="hello.">

		<meta name="google-site-verification" content="google1d7808dffe1bfa75.html">

		<meta name="author" content="sharrie" >
		<meta name="Copyright" content="">

		<meta name="DC.title" content="sharrie chen">
		<meta name="DC.subject" content="hello.">
		<meta name="DC.creator" content="sharrie">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<link rel="shortcut icon" href="/assets/favicon.ico">

		<link rel="stylesheet" href="/css/style.css"/>

		<link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,400italic' rel='stylesheet' type='text/css'>

		<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
		<script src="/js/pt.min.js"></script>
		<script src="/js/modernizr-1.7.min.js"></script>
	</head>

	<body>

		{{content}}

		<!-- <script type="text/javascript">
			(function() {
				//// 1. Define Space and Form
				var colors = {
				  a1: "#ff2d5d", a2: "#42dc8e", a3: "#2e43eb", a4: "#ffe359",
				  b1: "#96bfed", b2: "#f5ead6", b3: "#f1f3f7", b4: "#e2e6ef"
				};
				var space = new CanvasSpace("demo", "#fff" ).display();
				var form = new Form( space );


				//// 2. Create Elements
				var pairs = [];
				var center = space.size.$divide(2);
				var mouse = center.clone();

				var steps = 29;
				var r = Math.min( space.size.x, space.size.y ) * 0.8;
				var dr = Math.min( space.size.x, space.size.y ) * 0.8 / steps;

				// create pairs
				for (var i=0; i<steps; i++) {
				  var p = new Pair( Math.random()*r, Math.random()*r ).to( Math.random()*-r, Math.random()*-r );
				  p.moveBy( center ).rotate2D( i*Math.PI/steps, center );
				  pairs.push( p );
				}


				//// 3. Visualize, Animate, Interact
				space.add({
				  animate: function(time, fps, context) {
				    for (var i=0; i<pairs.length; i++) {

				      // rotate each pair by 0.1 degree
				      var pr = pairs[i];
				      pr.rotate2D( Const.one_degree/50, center );

				      // check collinearity with mouse, and draw a line with different color
				      var col = pr.collinear(mouse);

				      // Exact collinearity with return 0, but here we just check for a generous threshold
				      if ( Math.abs( col ) < 200 ) {
				        // form.stroke("#fff");
				        form.line( pr );
				        form.line( pr.clone().to( mouse ) );

				      // not collinear, check whether mouse is on left or right side
				      } else {
				        form.stroke( ( (col<0) ? "rgba(109,192,213,1)" : "rgba(193,207,218,1)") ).line( pr );
				        form.stroke(false ).fill("#fff").points( pr.toArray(), 0.5) ;
				      }

				      // form.fill( colors.a1 ).stroke(false).point( mouse, 1.5, true );
				    }
				  },
				  onMouseAction: function(type, x, y, evt) {
				    if (type=="move") {
				      mouse.set(x,y);
				    }
				  }
				});


				// 4. Start playing
				// space.bindMouse();
				space.play();
			}) ();
		</script> -->

		<script>
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36200290-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

	</body>
</html>
